@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

#title {
  color: rgb(29, 29, 29);
  text-align: center;
  padding: 10px;
  font-family: 'Poppins';
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(12, 180, 48);
  font-family: 'Poppins';
}

.active {
  background-color: #04AA6D;
}

.navigation li {
  float: right;
}

.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation li a:hover {
  background-color: #111;
}
