<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta lang="fr">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ADV - Dashboard {{session.getFirstName()}}</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_dashboard.css') }}">

	</head>
	<body>
	
		<div id="page">

			<nav class="adv-nav">
				<div class="adv-container">	
					<div class="row">	
						<div id="adv-logo"><a href="/">AD<em>V</em></a></div>
					</div>	
				</div>
			</nav>
		
			<header id="adv-header" class="adv-cover adv-cover-md" style="background-image: url(../static/images/img_bg_2.jpg)">
				<div class="overlay"></div>
				<div class="adv-container">
					<h1>Bonjour {{session.getFirstName()}}</h1>
					<p id="expertise">Vous retrouverez ici toutes vos réservations !</p>	
				</div>

			</header>
			
			{% for reservation in reservations %}
				<div class="adv-container" id="adv-voyages">
					<div class="card">
						<a class="card1">
							<p>Voyage</p>
							<p>{{ reservation.voyage.destination.getName() }}</p>
							<p>Date de départ : {{ reservation.voyage.getDepartDate() }}</p>
							<p>Date de retour : {{ reservation.voyage.getBackDate() }}</p>
							<p>Places disponibles : {{ reservation.voyage.getPlaces() }}</p>
							<p>Coût du voyage : {{ reservation.voyage.getCost()}}  €</p>
							<p>Coût de la destination : {{ reservation.voyage.destination.getCost() }}  €</p>
							<p>Places de la destination : {{ reservation.voyage.destination.getPlaces() }}  €</p>

						</a>
					</div>
				</div>
				
			{% endfor %}

		</div>

	</body>
</html>