<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta lang="fr">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ADV - Dashboard {{session.getFirstName()}}</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_dashboard.css') }}">

	</head>
	<body>
	
		<div id="page">

			<nav class="adv-nav">
				<div class="adv-container">	
					<div class="row">	
						<div id="adv-logo"><a href="/">AD<em>V</em></a></div>
					</div>	
				</div>
			</nav>
		
			<header id="adv-header" class="adv-cover adv-cover-md" style="background-image: url(../static/images/img_bg_2.jpg)">
				<div class="overlay"></div>
				<div class="adv-container">
					<h1>Bonjour {{session.getFirstName()}}</h1>
					<p id="expertise">Vous retrouverez ici toutes vos réservations !</p>	
				</div>
			</header>
			
		</div>

	</body>
</html>