<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_reserver.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>ADV - Explorer</title>
</head>
<body>
    <header id="header-top" class="header-top">
        <ul>
            <li class="header-top-contact">
                <a href="/connexion">Se connecter</a>
            </li>
            <li class="header-top-contact">
                <a href="/inscription">S'inscrire</a>
            </li>
        </ul>
    </header>

    <section class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AD<span>V</span></a>

        </div><!--/.navbar-header-->

        <div class="navbar-menu" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class=" scroll active"><a href="/">accueil</a></li>
                <li class="scroll"><a href="/reserver">réserver</a></li>
                <li class="scroll"><a href="/explorer">explorer</a></li>
                <li class="scroll"><a href="#reviews">avis</a></li>
                <li class="scroll"><a href="#blog">blog</a></li>
                <li class="scroll"><a href="#contact">contact</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </section>

    <section>
        <ul class="voyages">
            <div class="card-container">
                {% for voyage in voyages %}
                    <a href="{{ url_for('trip', dest_name=voyage.getName()) }}">
                        <div class="card">
                            <img src="../static/images/4.jpg" alt="Card Image">
                            <div class="card-content">
                                <div class="card-title">{{ voyage.getName() }}</div>
                                <div class="card-description">{{ voyage.getDesc() }}</div>
                                <div class="card-cost">Coût: {{ voyage.getCost() }}€</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </ul><!--/.nav -->
    </section>
</body>
</html>