<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>ADV - Accueil</title>
</head>
<body>

    <header id="header-top" class="header-top">
        <ul>
            <li class="header-top-contact">
                <a href="#">Se connecter</a>
            </li>
            <li class="header-top-contact">
                <a href="#">S'inscrire</a>
            </li>
        </ul>
                
    </header><!--/.header-top-->

    <section class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AD<span>V</span></a>

        </div><!--/.navbar-header-->

        <div class="navbar-menu" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class=" scroll active"><a href="#home">accueil</a></li>
                <li class="scroll"><a href="#works">réserver</a></li>
                <li class="scroll"><a href="#explore">explorer</a></li>
                <li class="scroll"><a href="#reviews">avis</a></li>
                <li class="scroll"><a href="#blog">blog</a></li>
                <li class="scroll"><a href="#contact">contact</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </section>

    <section class="intro-section" style="background-image: url('../static/images/banner.jpg')">
        <div class="intro-content" 
            data-in="heroFadeInDown" data-out="heroFadeOutUp">
            <h1>Découvrez des endroits magnifiques</h1>
            <p>Voyagez avec nous, en vous assurant des vacances en détente !</p>
        </div>
    </section>


</body>
</html>