<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta lang="fr">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ADV - France</title>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

	</head>
	<body>
	
	<div id="page">

	<nav class="adv-nav">
		<div class="adv-container">	
			<div class="row">	
				<div id="adv-logo"><a href="/">AD<em>V</em></a></div>
					<ul>
						<li><a href="#destinations">Destinations</a></li>
						<li><a href="destination.html">Voyager</a></li>
						<li><a href="/connexion">Login</a></li>
						<li><a href="/inscription">S'inscrire</a></li>
					</ul>
			</div>	
		</div>
	</nav>
	
	<header id="adv-header" class="adv-cover adv-cover-md" style="background-image: url(../static/images/img_bg_3.jpg)">
		<div class="overlay"></div>
		<div class="adv-container">
			<div class="row">
				<h1>Découvrez le Monde tel que vous ne l'avez jamais fait !</h1>
				<p id="expertise">Notre expertise de la NSI vous permettra de voyager à travers le monde !</p>	
				<button class="reserver">Réserver</button>
			</div>
		</div>
	</header>
	
	<div class="adv-section">
		<div class="adv-container">
			<div class="adv-heading">
				<h2 id="destinations">Destinations Populaires</h2>
				<p>Retrouvez nos destinations les plus appréciées des aventuriers !</p>
			</div>
			<div class="adv-destinations">
				{% for voyage in voyages %}
				<div class="adv-destination">
					<img src="../static/images/1.jpg" alt="{{voyage.getName}}">
					<div class="adv-destination-info">
						<h2>{{voyage.getName()}}</h2>
						<p>{{voyage.getDesc()}}</p>
						<a href="{{ url_for('trip', dest_name=voyage.getName())}}"><button class="adv-btn">Rechercher un voyage</button></a>
					</div>
				</div>
                {% endfor %}
	
			</div>
		</div>
	</div>
	
	<div id="adv-features">
		<div class="adv-container" id="features-container">
			<div class="row">
				<div class="adv-features-title">
					<h2 id="h2-features">Comment ca marche ?</h2>
					<p>En un clique, partez !</p>
				</div>
			</div>
			<div class="row">
					<div class="feature-center" data-animate-effect="fadeIn">
						<span class="icon">
							<i>1</i>
						</span>
						<h3>Planifiez</h3>
						<p>Trouvez votre destination de rêve.</p>
					</div>
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>2</i>
						</span>
						<h3>Réservez</h3>
						<p>Faîtes le grand saut et bookez votre voyage !</p>
					</div>
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i>3</i>
						</span>
						<h3>Partez !</h3>
						<p>Sautez dans l'avion, le train, la voiture et profitez de vos vacances.</p>
					</div>
			</div>
		</div>
	</div>


	<div class="adv-cover adv-cover-sm" style="background-image: url(../static/images/img_bg_2.jpg)">
		<div class="overlay"></div>
		<div class="adv-container">
			<div class="display-t">
				<div class="display-tc">
					<h1>Nous avons un service de haute qualité pour des clients de haute importance !</h1>
				</div>	
			</div>
		</div>
	</div>

	<div id="adv-counter" class="adv-section">
		<div class="adv-container">

			<div class="row">
				<h2>Notre succès</h2>
				<p>Nous devons notre succès à notre professionnalisme. Nous vous accompagnons tout au long de votre voyage. Lachez prise !</p>
			</div>

			<div class="row">
				<div class="feature-center">
						<span class="counter">1</span>
						<span class="counter-label">Destinations</span>

					</div>
					<div class="feature-center">
						<span class="counter">1</span>
						<span class="counter-label">Activités</span>
					</div>
					<div class="feature-center">
						<span class="counter">1</span>
						<span class="counter-label">Voyageurs</span>
					</div>
					<div class="feature-center">
						<span class="counter">1</span>
						<span class="counter-label">Clients Satisfaits</span>

					</div>
			</div>
		</div>
	</div>

	</div>

	</body>
</html>