<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_reserver.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>ADV - Reserver</title>
</head>
<body>
    <header id="header-top" class="header-top">
        <ul>
            <li class="header-top-contact">
                <a href="connexion.html">Se connecter</a>
            </li>
            <li class="header-top-contact">
                <a href="inscription.html">S'inscrire</a>
            </li>
        </ul>
    </header>

    <section class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AD<span>V</span></a>

        </div><!--/.navbar-header-->

        <div class="navbar-menu" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class=" scroll active"><a href="#home">accueil</a></li>
                <li class="scroll"><a href="reserver.html">réserver</a></li>
                <li class="scroll"><a href="#explore">explorer</a></li>
                <li class="scroll"><a href="#reviews">avis</a></li>
                <li class="scroll"><a href="#blog">blog</a></li>
                <li class="scroll"><a href="#contact">contact</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </section>

    <section class="connection-section" style="background-image: url('../static/images/banner.jpg')">
        <div class="overlay"></div>
        <div class="connection-content">
            
            <form>

            </form>
        </div>
    </section>

    <section>
        <ul class="voyages">
            {% for trips in voyages%}
                {%if trips is None%}
                    <li class="nulltrip"><a href="#home">Aucun voyage</a></li>
                    {%endif%}
                <li class="trip"><a href="#home">trips</a></li>
            {%endfor%}
        </ul><!--/.nav -->
    </section>
</body>
</html>