<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_trip.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>ADV - {{destination.getName()}}</title>
</head>
<body>
    <header id="header-top" class="header-top">
        <ul>
            <li class="header-top-contact">
                <a href="/connexion">Se connecter</a>
            </li>
            <li class="header-top-contact">
                <a href="/inscription">S'inscrire</a>
            </li>
        </ul>
    </header>

    <section class="navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">AD<span>V</span></a>

        </div><!--/.navbar-header-->

        <div class="navbar-menu" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                <li class=" scroll active"><a href="/">accueil</a></li>
                <li class="scroll"><a href="/reserver">réserver</a></li>
                <li class="scroll"><a href="/explorer">explorer</a></li>
                <li class="scroll"><a href="#reviews">avis</a></li>
                <li class="scroll"><a href="#blog">blog</a></li>
                <li class="scroll"><a href="#contact">contact</a></li>
            </ul><!--/.nav -->
        </div><!-- /.navbar-collapse -->
    </section>

    <section class="trip-details">
        <h1>{{ destination.getName() }}</h1>
        <p>{{ destination.getDesc() }}</p>
        <p>Coût: {{ destination.getCost() }}€</p>

        <!-- Formulaire de réservation -->
        <form action="{{ url_for('explorer') }}" method="post">
            <input type="hidden" name="Destination" value="{{ destination.getName() }}">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <input type="submit" value="Réserver">
        </form>
    </section>

</body>
</html>