	<!DOCTYPE HTML>
	<html>
		<head>
		<meta charset="utf-8">
		<meta lang="fr">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ADV - France</title>

		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		
		<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_trip.css') }}">
		</head>
		<body>
		
			<div id="page">

				<nav class="adv-nav">
					<div class="adv-container">	
						<div class="row">	
							<div id="adv-logo"><a href="/">AD<em>V</em></a></div>
								<ul>
									{% if not isLogged%}
										<li><a href="/connexion">Login</a></li>
										<li><a href="/inscription">S'inscrire</a></li>
									{% else %}
										{% if session %}
											<li><a href="/dashboard">{{session.getFirstName()}}</a></li>
										{% else %}
											<li><a href="/connexion">Login</a></li>
										{% endif %}
										<li><a href="/logout">Logout</a></li>
									{% endif %}
								</ul>
						</div>	
					</div>
				</nav>
			
				<header id="adv-header" class="adv-cover adv-cover-md" style="background-image: url(../static/images/3.jpg)">
					<div class="overlay"></div>
					<div class="adv-container">
						<div class="row">
							<h1>{{destination.getName()}}</h1>
							<p id="expertise">{{destination.getDesc()}}</p>	
							
						</div>

						<div class="row-form">
							<form class="form" action="{{ url_for('reserver_post', session=session, dest_name=destination.getName()) }}" method="post">
							<p class="title">Récapitulatif</p>
							<p class="message">Prix :{{destination.getCost()}} € / Personnes</p>
							<p class="message">Nombres de places : {{destination.getPlaces()}}</p>
							<p class="message">Durée du vol : {{destination.getDuration()}} min</p>
								<label>
									<input placeholder="" name="personnes" type="number" class="input" min="1" value="1" required>
									<span>Voyageurs</span>
								</label>
								<label for="date_depart">
									<input required="" placeholder="" name="date_depart" id="date_depart" type="date" class="input" required>
									<span>Date départ</span>
								</label>
								<label for="date_retour">
									<input required="" placeholder="" name="date_retour" id="date_retour" type="date" class="input" required>
									<span>Date retour</span>
								</label>
								{% if not isLogged%}
									<a href="/connexion"><button class="trip-button" required>Se connecter d'abord !</button></a>		
								{% else %}
									{% if session %}
										<button type="submit" class="trip-button">Réserver votre vol !</button>
									{% else %}
										<a href="/dashboard"><button class="trip-button" required>Se connecter d'abord !</button></a>			
									{% endif %}	
								{% endif %}
							</form>
						</div>

						
					</div>
				</header>
				
			</div>

		</body>
	</html>